@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
/* basic reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea {
  font: inherit;
}
a {
  text-decoration: none;
  display: inline-block;
}

body {
  font-family: "DM Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--MAIN-BG-COLOR);
  color: var(--FONT-COLOR-MAIN);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --MAIN-BG-COLOR: #171718;
  --FONT-COLOR-MAIN: #ffffff;
  --FONT-COLOR-SECONDARY: #85bfd1;
}

/* Utility classes */

.offscreen {
  position: absolute;
  left: -100000px;
}
.btn {
  min-width: 172px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  padding: 16px 31.5px;
  border: none;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0);
}
.btn:hover {
  cursor: pointer;
}
.btn-primary {
  background-color: #5c62ec;
}
.btn-secondary {
  border: 1px solid #fff;
  position: relative;
  padding: 16px 20px 16px 48px;
}
