
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
/* basic reset */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
textarea {
    font: inherit;
}

body {
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--MAIN-BG-COLOR);
  color: var(--FONT-COLOR-MAIN);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --MAIN-BG-COLOR: #171718;
  --FONT-COLOR-MAIN: #FFFFFF;
  --FONT-COLOR-SECONDARY: #85BFD1;

}

/* Utility classes */

.offscreen{
  position: absolute;
  left: -100000px;
}